body {
    background-color: #F0F1F0   ;
    font-family: Arial;
    font-weight: bold;
    font-size: .8em;
    color: #767A78;
    margin: 2%;
}

div {
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

li {
    width: 100%;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: darkgray;
}

.one {
    display: flex;
    background-color: white;
    list-style-type: none;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
    height: 100px;
    margin-right:-1px; margin-bottom:-1px;
}

.two {
    display: flex;
    background-color: white;
    list-style-type: none;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
    height: 100px;
    margin-right:-1px; margin-bottom:-1px;
}

.three {
    display: flex;
    background-color: white;
    list-style-type: none;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
    height: 100px;
    margin-right:-1px; margin-bottom:-1px;
}

#company, #email, #avail, #yrsexp, #favcolor, #language {
    margin-left: -1px;
}   

input[type="text"]
{
    font-size:1.2em;
    color: lightgray;
    padding-left: 0px;
    padding-top: 15px;
    border-style: none;
    width: 100%;
}
/*
input[type="submit"] {
    font-size: 1em;
    width: 25%;
    padding: 20px;
    margin-top: 20px;
}*/

button {
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #56b36f), color-stop(1, #5a963a));
	background:-moz-linear-gradient(top, #56b36f 5%, #5a963a 100%);
	background:-webkit-linear-gradient(top, #56b36f 5%, #5a963a 100%);
	background:-o-linear-gradient(top, #56b36f 5%, #5a963a 100%);
	background:-ms-linear-gradient(top, #56b36f 5%, #5a963a 100%);
	background:linear-gradient(to bottom, #56b36f 5%, #5a963a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#56b36f', endColorstr='#5a963a',GradientType=0);
	background-color:#56b36f;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:5px;
	border:2px solid #6fb576;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:10px 200px;
	text-decoration:none;
	text-shadow:1px 1px 8px #459938;
    margin-top: 20px;
    margin-left: 30%;
}

select {

    border: 0;
    background-color: white;
    font-size:1.2em;
    color: lightgray;
    padding-left: 0px;
    padding-top: 15px;
    border-style: none;
    width: 100%;
}