body {
    background-color: lightgray;
    font-family: Arial;
    font-weight: bold;
    font-size: .8em;
    color: #767A78;
    margin: 2%;
}

div {
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

li {
    width: 100%;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: darkgray;
}

.one {
    display: flex;
    background-color: white;
    list-style-type: none;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
    height: 100px;
    margin-right:-1px; margin-bottom:-1px;
}

.two {
    display: flex;
    background-color: white;
    list-style-type: none;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
    height: 100px;
    margin-right:-1px; margin-bottom:-1px;
}

.three {
    display: flex;
    background-color: white;
    list-style-type: none;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
    height: 100px;
    margin-right:-1px; margin-bottom:-1px;
}

#company, #email, #avail, #yrsexp, #favcolor, #language {
    margin-left: -1px;
}   

input[type="text"]
{
    font-size:1.2em;
    color: lightgray;
    padding-left: 0px;
    padding-top: 15px;
    border-style: none;
    width: 100%;
}
